{% comment %}
this include overrides the default, empty one from the so-simple theme

https://developer.mozilla.org/en-US/docs/Web/Security/Subresource_Integrity

cat FILENAME.js | openssl dgst -sha512 -binary | openssl base64 -A
curl -s $( pbpaste ) |  openssl dgst -sha512 -binary | openssl base64 -A | pbcopy
{% endcomment %}

<link
    rel="stylesheet"
    href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
    integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
    crossorigin=""
/>

<link
    rel="stylesheet"
    href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css"
    integrity="sha512-RLEjtaFGdC4iQMJDbMzim/dOvAu+8Qp9sw7QE4wIMYcg2goVoivzwgSZq9CsIxp4xKAZPKh5J2f2lOko2Ze6FQ=="
    crossorigin=""
/>

<link
    rel="stylesheet"
    href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css"
    integrity="sha512-BBToHPBStgMiw0lD4AtkRIZmdndhB6aQbXpX7omcrXeG2PauGBl2lzq2xUZTxaLxYz5IDHlmneCZ1IJ+P3kYtQ=="
    crossorigin=""
/>

<script
    src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
    integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
    crossorigin=""
></script>

<script
    src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-gpx/1.4.0/gpx.min.js"
    integrity="sha512-WvGrP1ARH8NAFGc8G4b6bDsFK2JUGCQkqf6mW8sP2VOBgbNRmuC/K1y+mbgxkIG/CWviILMZc0hQUUfujewrQQ=="
    crossorigin=""
></script>

<script
    src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"
    integrity="sha512-MQlyPV+ol2lp4KodaU/Xmrn+txc1TP15pOBF/2Sfre7MRsA/pB4Vy58bEqe9u7a7DczMLtU5wT8n7OblJepKbg=="
    crossorigin=""
></script>

<style>
.fa-divicon {
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.9));
}

.fa-divicon .fa-gas-pump {
    color: darkviolet;
}

.fa-divicon .fa-wrench {
    color: orangered;
}

.photo-marker-icon {
    filter: drop-shadow(5px 5px 5px #888888);
    /*filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.9));*/
}
</style>
