---
layout: page

map_var: layoutMap
---

<div id="map" style="height: {{ page.map_height | default: '500px' }};"></div>

<script type="text/javascript">
var _map = {{ layout.map_var }} = L.map("map");

L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={{ site.mapbox_token }}', {
    maxZoom: 18,
    attribution: '© <a href="https://www.mapbox.com/about/maps/">Mapbox</a> ' +
        '© <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> ' +
        '<strong><a href="https://www.mapbox.com/map-feedback/" target="_blank">Improve this map</a></strong>',
    id: 'mapbox.outdoors'
}).addTo(_map);

function getJSON(url, cb) {
    var request = new XMLHttpRequest();
    request.open("GET", url, true);

    request.onload = function() {
        if (request.status >= 200 && request.status < 400) {
            // Success!
            cb(JSON.parse(request.responseText));
        }
    };

    request.send();
}

function popUp(feature, layer){
    var out = [];
    if (feature.properties) {
        for (key in feature.properties) {
            out.push(key + ": " + feature.properties[key]);
        }

        layer.bindPopup(out.join("<br />"));
    }
}

function loadGpx(gpx, _map) {
    new L.GPX(
        gpx,
        {
            async: true,
            marker_options: {
                startIconUrl: null,
                startIcon: null,
                endIconUrl: null,
                endIcon: null
            }
        }).addTo(_map);
}
</script>

{{ content }}
